.form {
  border-style:dashed;
  border-width: 4px;
  display: inline-grid;
}

label {
  margin-top: 12px;
}

.submit {
  margin-top: 12px;
}

.loading {
  display: none;
  font-size: 24px;
  color: red;
}
